{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <h1>Student Table</h1>
    <table border="1">
        <tr>
           <th>UserName</th>
           <th>Email</th>
           <th>Department</th>
           <th>Password</th>
        </tr>
    {% for s in studentTable%}
        <tr>
            <td>{{ s.user_name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.department }}</td>
            <td>{{ s.password}}</td>
        </tr>
    {% endfor %}

    </table>
    <br><br><br><br><br>


    <h1>Complain Table</h1>
    <table border="1">
        <tr>
           <th>Student</th>
           <th>Image</th>
           <th>Status</th>
           <th>Description</th>
           <th>Type</th>
           <th>Date</th>
           <th>Time</th>
        </tr>
    {% for s in complainTable%}
        <tr>
            <td>{{ s.student }}</td>
            <td>{{ s.image }}</td>
            <td>{{ s.status }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.type}}</td>
            <td>{{ s.date }}</td>
            <td>{{ s.time}}</td>
        </tr>
    {% endfor %}

    </table>

    <br><br><br><br><br>

    <h1>Comment Table</h1>
    <table border="1">
        <tr>
           <th>Complain</th>
           <th>User Name</th>
           <th>Description</th>
        </tr>
    {% for s in commentTable%}
        <tr>
            <td>{{ s.complain }}</td>
            <td>{{ s.student }}</td>
            <td>{{ s.description }}</td>
        </tr>
    {% endfor %}

    </table>



    <br><br><br><br><br>

    <h1>Vote Table</h1>
    <table border="1">
        <tr>
           <th>Complain</th>
           <th>Student_ID</th>
           <th>Upvote</th>
           <th>Downvote</th>
        </tr>
    {% for s in votTable %}
        <tr>
            <td>{{s.complain}}</td>
            <td>{{ s.student }}</td>
            <td>{{ s.upvote }}</td>
            <td>{{ s.downvote }}</td>
        </tr>
    {% endfor %}


    </table>




    <br><br><br><br><br>

    <h1>Info Table</h1>
    <table border="1">
        <tr>
           <th>Email</th>
           <th>Phone no.</th>
        </tr>
    {% for s in infoTable%}
        <tr>

            <td>{{ s.email }}</td>
            <td>{{ s.phone_no }}</td>

        </tr>
    {% endfor %}

    </table>


    <br><br><br><br><br>

    <h1>FAQ Table</h1>
    <table border="1">
        <tr>
           <th>Question</th>
           <th>Answer</th>
        </tr>
    {% for s in faqTable%}
        <tr>

            <td>{{ s.question }}</td>
            <td>{{ s.answer }}</td>

        </tr>
    {% endfor %}

    </table>


    <h1>Tag Table</h1>
    <table border="1">
        <tr>

            <th>Tag Name</th>
        </tr>
    {% for t in tagTable %}
        <tr>

            <td>{{ t.tag_name }}</td>
        </tr>
    {% endfor %}

    </table>

    <h1>Complain Tag</h1>
    <table border="1">
        <tr>
            <th>Complain ID</th>
            <th>Tag Name</th>
        </tr>
    {% for t in complainTag %}
        <tr>
            <td>{{ t.complain }}</td>
            <td>{{ t.tag }}</td>
        </tr>

    {% endfor %}
    </table>


    {% endblock content %}

</body>
</html>